<div class="panel-heading">
    <h1 class="panel-title"> User Management </h1>
</div>
<div class="panel-body">

<div class="col-lg-12 col-md-12">
    <div class="panel panel-default">
        <div class="panel-body row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h6>Create User</h6>
                <form name="createUser">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" required ng-model="users.model.create.username" class="form-control" id="username" />
                    </div>

                    <div uib-alert ng-if="users.errors.username" class="alert alert-danger">{{users.errors.username}}</div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" required ng-model="users.model.create.email" class="form-control" id="email" />
                    </div>

                    <div uib-alert ng-if="users.errors.email" class="alert alert-danger">{{users.errors.email}}</div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" required ng-model="users.model.create.password" class="form-control" id="password" />
                    </div>

                    <div uib-alert ng-if="users.errors.password" class="alert alert-danger">{{users.errors.password}}</div>

                    <input type="submit" ng-click="users.submitCreateUserForm()" ng-disabled="createUser.$invalid" class="btn btn-primary" value="Create">
                    <input type="button" ng-click="users.clearCreateUserForm()" class="btn btn-warning" value="Clear"></input>
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h6>User List</h6>
                <table class="table table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users.model.users" ng-class="{active: $index == users.model.activeUser}" class="user-list" ui-sref="admin.users.detail({userData: user})" ng-click="users.activateUser($index)">
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td><button class="btn btn-xs btn-danger" ng-click=" $event.stopPropagation(); users.deleteUser($index);">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    <ui-view class="col-lg-12 col-sm-12"></ui-view>
</div>
