<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Login</h1>
        </div>
        <div class="panel-body">
            <form name="loginForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input required ng-model="login.model.username" type="username" class="form-control" id="username" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input required ng-model="login.model.password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div uib-alert ng-repeat="error in login.errors" class="alert alert-danger" close="register.closeAlert($index)">
                    {{ error }}
                </div>
                <input type="submit" ng-click="login.login()" ng-disabled="loginForm.$invalid" class="btn btn-primary"></input>
            </form>
        </div>
    </div>
</div>
